<h3>Welcome, <%= @clients.username %>, <%= session[:client_id] %>.</h3>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">New Drink</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Drink Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients/:id/account">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
  </li>
</ul>

