<h3>Please Login!</h3>

<div class="col-md-12">
    <div class="login_page">
        <div class="form">
            <form action="/clients" method="POST">
                <div class="form-group">
                    <%# <label for="username">Username</label> %>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <%# <label for="password">Password</label> %>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
                    <p class="message">Not Registered? <a href="/register">Register Now!</a></p>
            </form>
        </div>
    </div>
</div>