<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/css/bootstrap.css">
            <title>TotalDrinkApp</title>
        </head>
        <body>
            <div class="wrapper">
                <div class="container">
                    <%= yield %>
                    <footer class="branding">
                        <small>Copyright &copy; 2021 AwesomeBar, Inc. All rights reserved</small>
                    </footer>
                </div>
            </div>
            <script src="/js/bootstrap.bundle.js"></script>
        </body>
    </div>
</html>
