<div class="container-fluid">
    <header>
        <h2>Total Drinks Web Application</h2>
        <nav>
            <a href="/about">About</a> 
        </nav>
    </header>
    <div>


    <div class="content">
      <p>Welcome to the Total Drinks App! A brand new product from the AwesomeBar Corporation in 
      association with Thirsty Media. 
      To get started, <a href="/register">Register</a> or <a href="/login">Log In</a> and begin adding drinks to
      your order. For more information, see what we are <a href="/about">About</a>.</p>
    </div>

    <div class="fixed-bottom">
        <h4>Sponsors</h4>
        <p>
            <a href="#" class="badge badge-primary">Nautic Dye</a>
            <a href="#" class="badge badge-primary">Break Bendy</a>
            <a href="#" class="badge badge-primary">The Cantina</a>
            <a href="#" class="badge badge-primary">Port Sweat</a>
        </p>
    </div>
</div>
